@import url(https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css);

/* Calendar */
:root {
    --calendar-size: 300px;
}

.calendar {
  position: relative;
  width: var(--calendar-size);
  height: calc(var(--calendar-size) * 9/7);
  background-color: #fff;
  margin: 40px auto;
  border-radius: 8px;
  box-shadow: 0 0 8px 8px rgba(0, 0, 0, 0.1);
}

/* test */
.calendar.active {
    border: 2px solid red;
}
/* test */

.calendar-nav {
    display: flex;
    justify-content: space-between;
    width: var(--calendar-size);
    height: calc(var(--calendar-size) * 1.8/7);
    padding: 10px;
    color: #fff;
    border-radius: 8px 8px 0 0;
    background: rgb(68, 195, 121);
}
.nav-txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.nav-txt p {
    margin: 0;
}
.nav-txt .month {
    font-size: calc(var(--calendar-size) * 0.06);
    margin-bottom: 4px;
}
.nav-txt .year {
    font-size: calc(var(--calendar-size) * 0.04);
}

.calendar-nav .btn {
    height: calc(var(--calendar-size) * 1.8/7 - 20px);
    padding: 16px;
    border: 0;
    color: #fff;
    background: rgb(68, 195, 121);
    cursor: pointer;
    /* border: 1px solid red; */
}
.calendar-grid {
    width: var(--calendar-size);
    height: var(--calendar-size);
    display: grid;
    grid-template-rows: 1fr 6fr;
    padding: 5px 0;
}

.days,
.dates {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}
.day,
.date {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(var(--calendar-size)/7);
    height: calc(var(--calendar-size)/7);
    font-size: calc(var(--calendar-size) * 0.04);
    color: rgb(205, 205, 205);
    /* border: 1px solid red; */
}

.date {
    color: rgb(0, 0, 0);
    cursor: pointer;
}
.date.current:nth-child(7n+1) {
    color: red;
}

.disable {
    color: rgb(205, 205, 205);
}
.today {
    border: 1px solid rgb(68, 195, 121);
    border-radius: calc(var(--calendar-size)/7/2);
}

/* Date Picker */
.date-picker {
    display: block;
    width: 200px;
    height: 40px;
    margin: 40px auto;
    padding: 10px;
}
.date-picker:focus {
    border: 1px solid rgb(55, 0, 255);
    outline: none;
}
